EXPO_PUBLIC_APP_ENV=local
EXPO_PUBLIC_API_URL=https://api.example.com
EXPO_PUBLIC_GOOGLE_PLACES_ANDROID_API_KEY=your_android_places_api_key
EXPO_PUBLIC_GOOGLE_PLACES_IOS_API_KEY=your_ios_places_api_key
EXPO_PUBLIC_GOOGLE_PLACES_WEB_API_KEY=your_web_places_api_key
EXPO_PUBLIC_GOOGLE_PLACES_ANDROID_SHA1=00:11:22:33:44:55:66:77:88:99:AA:BB:CC:DD:EE:FF:00:11:22:33
EXPO_PUBLIC_ONESIGNAL_APP_ID=your_onesignal_app_id
EXPO_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
EXPO_PUBLIC_CLOUDINARY_UPLOAD_PRESET=your_cloudinary_upload_preset
